html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-image: url(/04-zkapp-browser-ui/_next/static/media/bag.a30d4a01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}
.Home_container__bCOhY {
	padding: 0 2rem;
  }
  
  .Home_main__nLjiQ {
	min-height: 100vh;
	padding: 1rem 0;
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	
  }
  
  .Home_footer____T7K {
	display: flex;
  
	
  }
  
  .Home_footerbg__XmJ88 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.320a84ec.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 520px;
	  height: 145px;
	  position: absolute;
	  left: 200px;
	  top: 560px;
  }
  
  .Home_blank__VvP8P {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/footer.320a84ec.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 520px;
	  height: 145px;
	  position: absolute;
	  left: 200px;
	  top: 600px;
  }
  
  .Home_title__T09hD a {
	color: #0070f3;
	text-decoration: none;
  }
  
  .Home_title__T09hD a:hover,
  .Home_title__T09hD a:focus,
  .Home_title__T09hD a:active {
	text-decoration: underline;
  }
  
  .Home_title__T09hD {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
  }
  
  .Home_title__T09hD,
  .Home_description__41Owk {
	text-align: center;
  }
  
  .Home_description__41Owk {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
  }
  
  .Home_code__suPER {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	  Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .Home_grid__GxQ85 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
  }
  
  .Home_card___LpL1 {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
  }
  
  .Home_card___LpL1:hover,
  .Home_card___LpL1:focus,
  .Home_card___LpL1:active {
	color: #0070f3;
	border-color: #0070f3;
  }
  
  .Home_card___LpL1 h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
  }
  
  .Home_card___LpL1 p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
  }
  
  .Home_logo__27_tb {
	  display: flex;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/icon.8266e8d6.png);
	  height: 50px;
	  width: 50px;
	  background-size: cover;
	  background-repeat: no-repeat;
	  align-items: center;
	  justify-content: center;
	  margin-left: 85px;
  
  }
  
  .Home_homepage__o_ei3 {
	  display: block;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;	
	  width: 900px;
	  height: 600px;
	  transform: scale(1);
  }
  
  .Home_homepageImg__fcRDd {
	  display: block;
	  display: flex;
	  background-size: cover;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/homepage.0f23ca15.png);
	  background-repeat: no-repeat;
	  position: absolute;
	  width: 800px;
	  height: 550px;
  }
  
  .Home_banner__WnS5R {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/banner1.61b3169d.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 750px;
	  height: 165px;
	  position: absolute;
	  left: 80px;
	  top: 120px;
  }
  
  .Home_banner2__nEGJg {
	  display: block;
	  
  }
  
  .Home_connectBtn__q4_OB {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnconnect1.d3127037.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 360px;
	  height: 90px;
	  position: absolute;
	  left: 290px;
	  top: 450px;
  }
  
  .Home_connectBtn__q4_OB:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnconnect2.7535e316.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 360px;
	  height: 90px;
	  position: absolute;
	  left: 290px;
	  top: 450px;
  }
  
  .Home_connectBtn__q4_OB:active {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnconnect3.785a4d2b.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 360px;
	  height: 90px;
	  position: absolute;
	  left: 290px;
	  top: 450px;
  }
  
  .Home_loadingBtn__vAScy {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnloading.58d30fab.gif);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 360px;
	  height: 90px;
	  position: absolute;
	  left: 290px;
	  top: 450px;
  }
  
  .Home_loading__IsZ5F {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/loading.10b3d1d2.gif);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 300px;
	  height: 300px;
	  position: absolute;
	  left: 305px;
	  top: 50px;
  }
  
  .Home_getLoading__Ml8Nf {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/getloading.10b3d1d2.gif);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 280px;
	  height: 280px;
	  position: absolute;
	  left: 315px;
	  top: 150px;
  }
  
  .Home_sendLoading__Zkd01 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/getloading.10b3d1d2.gif);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 250px;
	  height: 250px;
	  position: absolute;
	  left: 330px;
	  top: 110px;
  }
  
  .Home_sendCheck__xMz4p {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/check.1505b6f0.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 43px;
	  height: 35px;
	  position: absolute;
	  left: 295px;
	  top: 325px;
  }
  
  .Home_sendDone__abENy {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/done.a58c07ec.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 250px;
	  height: 120px;
	  position: absolute;
	  left: 330px;
	  top: 170px;
  }
  
  .Home_caution__VEpHP {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/caution.fc27060b.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 180px;
	  height: 155px;
	  position: absolute;
	  left: 370px;
	  top: 120px;
  }
  
  .Home_succes__k1IzW {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/checked.1505b6f0.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 180px;
	  height: 180px;
	  position: absolute;
	  left: 370px;
	  top: 120px;
  }
  
  .Home_statusTxt__dVex8 {
	  display: block;
	  position: absolute;
	  left: 300px;
	  top: 300px;
	  color: white;
	  font-size: 15px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_statusSendTxt___A48X {
	  display: block;
	  position: absolute;
	  left: 340px;
	  top: 320px;
	  color: white;
	  font-size: 18px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_walletLink__QYgFg {
	  display: block;
	  position: absolute;
	  left: 390px;
	  top: 370px;
	  color: white;
	  font-size: 20px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .Home_walletTxt__aVJtU {
	  display: block;
	  position: absolute;
	  left: 210px;
	  top: 350px;
	  color: white;
	  font-size: 15px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .Home_faucetTxt__R0HSg {
	  display: block;
	  position: absolute;
	  left: 215px;
	  top: 350px;
	  color: white;
	  font-size: 15px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .Home_faucetHere__TRzkn {
	  display: block;
	  position: absolute;
	  left: 390px;
	  top: 370px;
	  color: white;
	  font-size: 20px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .Home_backNoAccount__s1McX {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnback1.00bc922c.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 215px;
	  top: 110px;
  }
  
  .Home_backNoAccount__s1McX:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnback2.b16ff87d.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 215px;
	  top: 110px;
  }
  
  .Home_backNoWallet__IBr_n {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnback1.00bc922c.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 215px;
	  top: 110px;
  }
  
  .Home_backNoWallet__IBr_n:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnback2.b16ff87d.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 215px;
	  top: 110px;
  }
  
  .Home_sendBtn__F6hw6 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnsend1.27f582f7.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 250px;
	  top: 400px;
  }
  
  .Home_sendBtn__F6hw6:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnsend2.a3318e13.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 250px;
	  top: 400px;
  }
  
  .Home_sendBtn__F6hw6:active {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnsend3.6bfa9cfa.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 250px;
	  top: 400px;
  }
  
  .Home_sendBtnDisable__6VyTK {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnsend3.6bfa9cfa.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 250px;
	  top: 400px;
  }
  
  .Home_getBtn__h_3sY {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnget1.78967222.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 510px;
	  top: 400px;
  }
  
  .Home_getBtn__h_3sY:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnget2.e77d2f4b.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 510px;
	  top: 400px;
  }
  
  .Home_getBtn__h_3sY:active {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnget3.88216b04.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 510px;
	  top: 400px;
  }
  
  .Home_getBtnDisable__ASdt7 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/btnget3.88216b04.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 160px;
	  height: 73px;
	  position: absolute;
	  left: 510px;
	  top: 400px;
  }
  
  .Home_txtState__XfTmO {
	  display: block;
	  position: absolute;
	  left: 330px;
	  top: 210px;
	  color: white;
	  font-size: 20px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_numState__RWB8u {
	  display: block;
	  position: absolute;
	  left: 360px;
	  top: 200px;
	  color: white;
	  font-size: 80px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_txtAddrs__0j0LW {
	  display: block;
	  position: absolute;
	  left: 285px;
	  top: 350px;
	  color: white;
	  font-size: 12px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_addrs__ciNE1 {
	  display: block;
	  position: absolute;
	  left: 220px;
	  top: 350px;
	  color: white;
	  font-size: 13px;
	  text-align: center;
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
  }
  
  .Home_getscreen__MZw5Y{
	  display: block;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;	
	  width: 900px;
	  height: 600px;
  }
  
  .Home_getscreenBlack__Krl3p {
	  display: block;
	  display: flex;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/blue.5768574e.png);
	  background-size: repeat;
	  width: 100%;
	  height: 100%;
	  left: 0px;
	  top: 0px;
	  position: absolute;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  opacity: 0.5;
	  transform: scale(1.5); /* you can change the value also */
	 transform-origin: center;
  }
  
  .Home_getscreenImg__WMr9D {
	  display: block;
	  display: flex;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/screen.49166916.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 800px;
	  height: 550px;
	  position: absolute;
	  left: 260px;
	  top: 150px;
  }
  
  .Home_sendscreen__P9tsM{
	  display: block;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;	
	  width: 800px;
	  height: 550px;
  }
  
  .Home_sendscreenBlack__x7Fq9 {
	  display: block;
	  display: flex;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/blue.5768574e.png);
	  background-size: repeat;
	  width: 100%;
	  height: 100%;
	  left: 0px;
	  top: 0px;
	  position: absolute;
	  align-items: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	  opacity: 0.5;
	  transform: scale(1.5); /* you can change the value also */
	 transform-origin: center;
  }
  
  .Home_sendscreenImg__5SKtV {
	  display: block;
	  display: flex;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/screensend.aa2a9174.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 800px;
	  height: 550px;
	  position: absolute;
	  left: 250px;
	  top: 100px;
  }
  
  
  .Home_closeGet__qG2td {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/close.0aa10656.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 590px;
	  top: 150px;
  }
  
  .Home_closeGet__qG2td:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/delete.0aa10656.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 590px;
	  top: 150px;
  }
  
  .Home_closeSend__b_1LB {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/delete.0aa10656.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 600px;
	  top: 120px;
  }
  
  .Home_closeSend__b_1LB:hover {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/close.0aa10656.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 50px;
	  height: 52px;
	  position: absolute;
	  left: 600px;
	  top: 120px;
  }
  
  .Home_teleIcon__qLDZz {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/telegram.9a08727f.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 90px;
	  height: 100px;
	  position: absolute;
	  left: 280px;
	  top: 600px;
  }
  
  .Home_dcIcon__DDy4R {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/discord.9ee30565.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 90px;
	  height: 100px;
	  position: absolute;
	  left: 380px;
	  top: 600px;
  }
  
  .Home_fbIcon__HDaE7 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/facebook.6f81adca.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 90px;
	  height: 100px;
	  position: absolute;
	  left: 480px;
	  top: 600px;
  }
  
  .Home_gitIcon__L23x5 {
	  display: block;
	  background-image: url(/04-zkapp-browser-ui/_next/static/media/github.c6a68a0e.png);
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100px;
	  height: 100px;
	  position: absolute;
	  left: 580px;
	  top: 600px;
  }
  
  
  @media (max-width: 990px) {
	.Home_grid__GxQ85 {
	  width: 250px;
	  flex-direction: column;
	  background-color: white;
	  position:absolute;
	  top: 100px;
	  right: 100px;
	  display: flex;
	}
  }
  
  @media (prefers-color-scheme: dark) {
	.Home_card___LpL1,
	.Home_footer____T7K {
	  border-color: rgb(10, 10, 10);
	}
	.Home_code__suPER {
	  background: rgb(8, 8, 8);
	}
	.Home_logo__27_tb img {
		filter: invert(1);
	}
	 
	
  }
